{% extends 'base.html' %}

{% block header %}
  <h1 class="mb-3 text-center">{% block title %}Tasks{% endblock %}</h1>
  {% endblock %}

{% block content %}
  <div class="text-center m-2">
    <a class="btn btn-dark" href="{{ url_for('tasks.create') }}" role="button">
        Add new task
    </a>
  </div>

  <form method="POST">
    <select id="tables" class="form-select m-2">
      <option selected value="todo">To Do</option>
      <option value="completed">Completed</option>
      <option value="all">All</option>
    </select>
  </form>

  <script>
    let table_select = document.getElementById('tables');

    table_select.onchange = function() {
      table = table_select.value;
      console.log(table)
      const url = {{ url_for('tasks.tables')|tojson }}
      let data = new FormData()
      data.append("table", table)
      fetch(url, {
        "method": "POST",
        "body": data,
      })
    .then(response=> response.text())
    .then(function(text){
      document.getElementById("table-container").innerHTML = text;
    });
    }
  </script>
  

  <div id="table-container">
    {% from 'tasks/tables.html' import tasks_table %}
    {{ tasks_table(tasks_list) }}
  </div>

{% endblock %}