{% extends 'base.html' %}

{% block header %}
  <h1 class="mb-3 text-center">{% block title %}Tasks{% endblock %}</h1>
  {% endblock %}

{% block content %}
  <div class="text-center m-2">
    <a class="btn btn-dark" href="{{ url_for('tasks.create') }}" role="button">Add new task</a>
  </div>

  <table class="table table-striped table-dark table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Task</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks_list %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>{{ task['task'] }}</td>
            </tr>
        {% endfor %}
      </tbody>
  </table>

{% endblock %}