{% extends 'base.html' %}

{% block header %}
  <h1 class="mb-3 text-center">{% block title %}Tasks{% endblock %}</h1>
  {% endblock %}

{% block content %}
  <div class="text-center m-2">
    <a class="btn btn-dark" href="{{ url_for('tasks.create') }}" role="button">
        Add new task
    </a>
  </div>

  <form method="POST">
    <select id="tables" class="form-select m-2">
      <option selected value="todo">To do</option>
      <option value="todo_today">To do today</option>
      <option value="completed">Completed</option>
      <option value="all">All</option>
    </select>
  </form>
  
  <div class="table-responsive" id="table-container">
    {% from 'tasks/tables.html' import tasks_table %}
    {{ tasks_table(tasks_list) }}
  </div>

  <script src="{{ url_for('static', filename='table_select.js') }}" 
          data-url="{{ url_for('tasks.tables') }}"></script>

{% endblock %}